# Prerequisites

*.d


# Compiled Object files

*.slo

*.lo

*.o

*.obj


# Precompiled Headers

*.gch

*.pch


# Compiled Dynamic libraries

*.so

*.dylib

*.dll


bin
obj
.layout
.depend
Servicios.dat
Clientes.dat
Cuentas.dat
Contactos.dat
Turnos.dat
Turnos.bak


# Fortran module files

*.mod

*.smod


# Compiled Static libraries

*.lai

*.la

*.a

*.lib


# Executables

*.exe

*.out

*.app
