# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

.gitignore
bin
obj
Servicios.dat
Turnos.bak
Turnos.dat
Clientes.dat
Cuentas.dat
Contactos.dat
Peluqueria.csope_file_list
Peluqueria.depend
Peluqueria.layout

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
